@model IEnumerable<Matamata.Models.Quarta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSelecao }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSelecao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSelecao })
        </td>
    </tr>
}

</table>
