@model Matamata.Models.Semi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Semi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSemi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
